<!DOCTYPE html>
<html lang="zh-Hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>忘記密碼</title>
  </head>
  <body
    style="
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    "
  >
    <table
      style="
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
      "
    >
      <tr>
        <td style="padding-top: 10px; padding-bottom: 10px; text-align: center">
          <p style="font-size: 24px; margin: 0">
            請使用以下驗證碼完成您的帳戶驗證
          </p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center">
          <div
            style="
              background-color: #f3f3f3;
              color: #023e8a;
              font-size: 24px;
              width: 100%;
              max-width: 477px;
              padding-top: 16px;
              padding-bottom: 16px;
              text-align: center;
              font-weight: 700;
              margin: 0 auto;
            "
          >
            <%= otp %>
          </div>
        </td>
      </tr>
      <tr>
        <td style="padding-right: 60px; padding-left: 10px">
          <ul
            style="list-style-type: none; padding-top: 10px; text-align: left"
          >
            <li style="font-size: 14px; color: #333; margin-bottom: 10px">
              ・為了確保資料安全，此驗證碼將在
              <span style="color: #023e8a">
                <%= otp_expiration_datetime %> 失效</span
              >，請於時效內進行驗證
            </li>
            <li style="font-size: 14px; color: #333">
              ・為了確保資料安全，此驗證碼將在若您對此驗證要求沒有印象，請立即與
              goodiving
              <span style="color: #023e8a"> 客服聯絡 </span
              >，以防止不法人士竊用個資
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td style="padding-top: 20px; padding-bottom: 10px; text-align: center">
          <p style="font-size: 12px; color: #333">
            ***
            此信件為系統自動發送，請勿直接回覆！若您仍有問題請聯絡客服提出問題，感謝配合！
            ***
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="
            background-color: #aaaaaa;
            color: white;
            font-size: 10px;
            padding: 10px 24px;
            text-align: center;
          "
        >
          <p style="margin: 0">服務時間：每日09:00-21:00</p>
          <p style="margin: 0">客戶服務專線：0800-123-321</p>
        </td>
      </tr>
    </table>
  </body>
</html>
